.messages {
  list-style-type: none;
  padding-left: 0;
}

.message-box {
  border-bottom: darkgrey solid 1px;
}

.username {
  color: darkblue;
  font-size: 1.4rem;
  font-weight: 100;
}

.message-content {
  display: inline;
  font-size: 1.8rem;
  font-weight: 300;
  padding-right: 5px;
}

.edit-button {
  display: inline;
}

.msg-sent-at {
  float: right;
  color: #C8C8C8;
  font-size: 1.1rem;
}
